<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类页面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/typo.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航
反转底色，黑色,容器，图标 -->

<nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
<div class="ui container">
 <div class="ui inverted secondary stackable  menu">
   <h2 class="ui teal header item">管理后台</h2>
     <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>博客</a>
     <a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
     <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
         <div class="ui right m-item item m-mobile-hide dropdown">
             <div class="text">
                 <img alt="" class="ui avatar image" src="http://img1.imgtn.bdimg.com/it/u=1396076625,1988477698&fm=26&gp=0.jpg">
                 Moore lai
             </div>
             <i class="dropdown icon"></i>
             <div class="menu">
                 <div class="item">
                     注销
                 </div>
         </div>
     </div>
 </div>
</div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/ /input}" class=" item">新增</a>
            <a href="#" th:href="@{/admin/types}" class="teal active item">列表</a>
        </div>
    </div>
</div>
<!--中间内容-->
  <div class="m-container-small m-padded-tb-large">
     <div class="ui container">
         <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
             <i class="close icon"></i>
             <div class="header">提示：</div>
             <p th:text="${message}">恭喜，操作成功</p>
         </div>
         <table class="ui celled table">
             <thead>
             <tr>
                 <th></th>
                 <th>名称</th>
                 <th>操作</th>
             </tr>
             </thead>
             <tbody>
             <tr th:each ="type,iterStat: ${page.content}">
                 <td th:text="${iterStat.count}">1</td>
                 <td th:text="${type.name}">刻意练习</td>
                 <td><a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui mini teal basic button">编辑</a>
                     <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui mini red basic button">删除</a>
                 </td>
             </tr>
             </tbody>
             <tfoot>
             <tr>
                 <th colspan="6">
                 <div class="ui left aligned  pagination menu" th:if="${page.totalPages}>1">
                    <a th:href="@{/admin/types(page=${page.number}-1)}" class="item" th:unless="${page.first}">上一页</a>
                    <a th:href="@{/admin/types(page=${page.number}+1 )}" class="item" th:unless="${page.last}" >下一页</a>
                 </div>
                     <a th:href="@{/admin/types/input}" href="#" class="ui right floated teal basic button">新增</a>
                 </th>
             </tr>
             </tfoot>
         </table>
     </div>
    </div>


<!--底部-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px ">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">博客介绍</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">我的程序员之路，我的程序员之路我的程序员之路</p>
            </div>

        </div>
        <div class="ui inverted section divider  ">
            <p class="m-text-thin m-text-spaced m-opacity-mini">0000000000============00000000</p>
        </div>
    </div>
</footer>
<!--/*/<th:block th:fragment="script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/<th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on:'hover'
        });
 //消息提示关闭初始化 messge 后面需空格
    $('.message .close')
    .on('click',function () {
        $(this)
        .closest('.message')
        .transition('fade');
    });

</script>
</body>
</html>
