<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发布</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航
反转底色，黑色,容器，图标 -->

<nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
<div class="ui container">
 <div class="ui inverted secondary stackable  menu">
   <h2 class="ui teal header item">管理后台</h2>
     <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>首页</a>
     <a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
     <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
         <div class="ui right m-item item m-mobile-hide dropdown">
             <div class="text">
                 <img alt="" class="ui avatar image" src="http://img1.imgtn.bdimg.com/it/u=1396076625,1988477698&fm=26&gp=0.jpg">
                 Moore lai
             </div>
             <i class="dropdown icon"></i>
             <div class="menu">
                 <div class="item">
                     注销
                 </div>
         </div>
     </div>
 </div>
</div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/types/input}" class="teal active item">新增</a>
            <a href="#" th:href="@{/admin/types}" class=" item">列表</a>
        </div>
    </div>
</div>
<!--中间内容-->
  <div class="m-container-small m-padded-tb-large">
     <div class="ui container">
         <form action="#" method="post"  th:object="${type}"  th:action="*{id}==null ? @{/admin/types} : @{/admin/types/{id}(id=*{id})}" class="ui form">
             <input type="hidden" name="id" th:value="*{id}">
             <div class="field">
                 <div class="ui left labeled  input">
                     <label class="ui compact teal basic label">分类</label>
                 <input type="text" name="name" placeholder="分类名称" th:value="*{name}">
                 </div>
             </div>
        <div class="ui error message"></div>
        <!--/*/
        <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
         <i class="close icon"></i>
         <div class="header">验证失败</div>
         <p th:errors="*{name}">提交信息不符合规则</p>
        </div>/*/-->
             <div class="ui right aligned container">
                 <button class="ui button" type="button" onclick="window.history.go(-1)">返回</button>
                 <button class="ui teal submit button">提交</button>
             </div>
         </form>
     </div>
    </div>
<!--底部-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px ">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">博客介绍</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">我的程序员之路，我的程序员之路我的程序员之路</p>
            </div>

        </div>
        <div class="ui inverted section divider  ">
            <p class="m-text-thin m-text-spaced m-opacity-mini">0000000000============00000000</p>
        </div>
    </div>
</footer>
<!--/*/<th:block th:fragment="script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/<th:block>/*/-->

<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on:'hover'
        });

    $('.ui.form').form({
        fields:{
            title:{
                identifier:'name',
                rules:[{
                  type:'empty',
                  prompt:'请输入分类名称'
                }]
            }
        }
    });


</script>
</body>
</html>
