body{
    background: url("../images/bg.png");
}

.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em  !important;
}
.m-padded-tb-massive{
    padding-top: 5em!important;
    padding-bottom: 5em!important;
}
.m-padded-tb-large{
    padding-top: 2em!important;
    padding-bottom: 2em!important;
}
.m-padded-tb{
    padding-top: 1em!important;
    padding-bottom: 1em!important;
}
.m-padded-tb-big{
    padding-top: 3em!important;
    padding-bottom: 3em!important;
}
.m-padded-tb-tiny{
    padding-top: 0.3em!important;
    padding-bottom: 0.3em!important;
}
.m-padded-tb-small{
    padding-top: 0.5em!important;
    padding-bottom: 0.5em!important;
}
.m-padded-tb-tiny{
    padding: 3em !important;
}
.m-padded{
    padding: 2em !important;
}
.m-padded-lr-responsive{
    padding-left: 4em!important;
    padding-right: 4em!important;
}
.m-padded-mini{
    padding: 0.1em !important;
}
/*text*/
.m-text-thin{
     font-weight: 300 !important;
}
. {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
}

.m-text-spaced{
    letter-spacing: 1px; !important;
}

.m-text-lined{
    line-height: 1.8; !important;
}

.m-opacity-mini{
    opacity: 0.8; !important;
}

/*-------display-------*/
.m-inline-block{
    display: inline-block; !important;

}

.m-container{
    max-width:72em;!important;
    margin: auto !important;
}

/*---margin----*/
.m-margin-tb-tiny{
    margin-top :0.3em !important;
    margin-bottom: 0.3em !important; ;
}


.m-margin-tb-top{
    margin-top:1em !important;
}
.m-margin-tb-large{
    margin-top:2em !important;
}
.m-margin-tb-small{
    margin-top:0.5em !important;
}
.m-margin-bottom-small{
    margin-bottom:0.5em !important;
}

/*container*/
.m-container{
    max-width: 72em !important;
    margin: auto!important;
}
.m-black{
    color: #333!important;
}
.m-container-small{
    max-width: 60em !important;
    margin: auto!important;
}

/*-position-*/
.m-right-top{
    position:absolute !important;
    top: 0!important;
    right: 0!important;
}
.m-fixed{
    position: fixed!important;
    z-index: 10!important;
}
.m-right-bottom{
    bottom:0 !important;
    right: 0 !important;
}

/*c*/
.m-mobile-show{
    display:none !important;
}


@media screen and (max-width: 768px) {
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
    .m-padded-lr-responsive{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .m-mobile-lr-clear{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .m-mobile-wide{
       width: 100%!important;
    }
}
/*shadow*/
.m-shadow-small{
    /*适配浏览器*/
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2 )!important;
    /*阴影*/
    box-shadow: 0 4px 8px rgba(0,0,0,0.2 )!important;
}

